# Flask
BASE_URL=https://localhost:5000
SECRET_KEY=<add a secret key>
FLASK_APP=wsgi
FLASK_ENV=development


# Database
DATABASE_URL=sqlite:////

# Mail (SMTP)
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_DEFAULT_SENDER=your-email@example.com
